*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
}
header{
    width: 100%;
    height: 25vh;
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}
main{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#sector-buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

button{
    width: 20%;
    height: 50px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #000;
    background-color: #f0f0f0;
}
button a{
    text-decoration: none;
    color: #000;
}