* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
}

header {
    width: 100%;
    height: 15vh;
    font-size: 1.2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

main {
    width: 90%;
    height: auto;
    margin: 2% 5%; 

}
.contenedor-main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    text-align: center;   
}
#lista-recetas {
    width: 100%;
    height: auto;
}
.receta-item {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}

p {
    width: 30%;
    height: 100%;
    font-size: 1em;
    border: 1px solid #000;
    text-align: center;
}

#masa-section, #masa-section-input {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 5px;    
    text-align: center;
    font-size: 2em;

}
.btn-receta-item{
    width: 10%;
    height: 7vh;  
    margin: 0; 
    border: 1px solid #000;
    background-color: #e0e0e0;
    cursor: pointer;
    font-size: 0.5em;
}

label {
    width: 70%;
    height: 100%;
    border: 1px solid #000;
    align-items: start;
    font-size: 1.5em;
}

input {
    width: 20%;
    height: 100%;
    border: 1px solid #000;
    text-align: center;
    font-size: 1.5em;
}
section {
    width: 100%;
    height: 5vh;
}
.receta-item {
    width: 70%;
    height: auto;
    display: flex;    
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
#recetas-lista{
    width: 100%;
    height: 100%;   
    display: flex;    
    justify-content: center;
    align-items: center;
}
.contenedor-item-impresion {
    width: 100%;
    min-height: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    text-align: center;   
}
#btnImprimir{
    width: 20%;
    height: 50px; 
    font-size: 1.5em;
    margin-top: 2%;
}
#titulo-receta{
    width: 100%;
}
#hoja-impresion-container{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;    
    text-align: center;   
}
#lista-recetas{
    width: 100%;
    min-height: auto;
    
    margin-top: 2%;
}